/* Global styles 
------------------------------------*/
div{
	/*outline: solid red 1px;*/
}
a{
	text-decoration: none;
}


/* Navigation 
------------------------------------*/
nav{
	img{
		padding: 25px;
	}
	background-color: #585858;
}
#navLinks a{
	text-decoration: none;
	font-weight: bold;
	color: #fff;
	line-height: 30px;
	white-space: nowrap;
}
#navLinks{
	padding: 25px 0px;
}
#hamburger{
	background-color: transparent;
	border-style: none;
}


/* Index
------------------------------------*/

/*---Banner---*/
#banner{
	height: 500px;
	/*background: url(https://placehold.co/1920x500),
	no-repeat fixed center / cover;*/
	background-color: #dddddd;
}
#search-container{
	display: flex;
	justify-content: center;
}
#input-field{
	width: 70vw;
	padding: 20px;
}
#banner-text-box{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
#banner-text-content{
	width: 80vw;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 50px;
}

/*---About---*/
.about img{
	display: inline-block;
	padding-right: 15px;
}
.about h4{
	display: inline;
	vertical-align: middle;
}

#aboutItem1{
	padding: 75px 50px 25px 50px;
}
#aboutItem2{
	padding: 25px 50px 25px 50px;
}
#aboutItem3{
	padding: 25px 50px 50px 50px;
}
.aboutDesc{
	padding-top: 15px;
}
#signUp{
	display:flex;
	justify-content: center;
}
#signUp button{
	margin: 0px 10px;
}

/*---Carousel Sections---*/
.sectionHeader{
	padding-top: 75px;
	border-bottom: 2px #585858 solid;
	width: 95vw;
	margin: 0px auto;
}
.carousel{
	margin: 0px auto;
}
.carousel td{
	padding: 25px;
}


/* Media Queries
------------------------------------*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	#input-field{
		width: 80vw;
	}
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	#aboutItem1, #aboutItem2, #aboutItem3{
		padding: 75px 50px 50px 50px; 
	}
}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {

}