/* Global styles 
------------------------------------*/
div{
	/*outline: solid red 1px;*/
}


/* Navigation 
------------------------------------*/
nav{
	img{
		padding: 25px;
	}
	background-color: #585858;
}
#navLinks a{
	text-decoration: none;
	font-weight: bold;
	color: #fff;
	line-height: 30px;
	white-space: nowrap;
}
#navLinks{
	padding: 25px 0px;
}


/* Index
------------------------------------*/
#banner{
	height: 500px;
	background: url(https://placehold.co/1920x500),
	no-repeat fixed center / cover;
}