/* Global styles 
------------------------------------*/
div{
	/*outline: solid red 1px;*/
}


/* Navigation 
------------------------------------*/
nav{
	img{
		padding: 25px;
	}
	background-color: #585858;
}
#navLinks a{
	text-decoration: none;
	font-weight: bold;
	color: #fff;
	line-height: 30px;
	white-space: nowrap;
}
#navLinks{
	padding: 25px 0px;
}


/* Index
------------------------------------*/

/*---Banner---*/
#banner{
	height: 500px;
	/*background: url(https://placehold.co/1920x500),
	no-repeat fixed center / cover;*/
	background-color: #dddddd;
}
#search-container{
	display: flex;
	justify-content: center;
}
#input-field{
	width: 80vw;
	padding: 20px;
}
#banner-text-box{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
#banner-text-content{
	width: 80vw;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 50px;
}

/*---About---*/
#about img{
	display: inline-block;
	padding-right: 15px;
}
#about h4{
	display: inline;
	vertical-align: middle;
}
#about .col-lg-4{
	padding: 75px 50px 50px 50px; 
}
.aboutDesc{
	padding-top: 15px;
}
#signUp{
	display:flex;
	justify-content: center;
}
#signUp h5{
	display: inline-block;
	vertical-align: middle;
}
#signUp button{
	margin: 0px 10px;
}